<% title "Products" %>


<%= form_tag products_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
<table class="pretty">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "price" %></th>
    <th><%= sortable "released_at", "Released" %></th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.name %></td>
      <td class="price"><%= number_to_currency(product.price) %></td>
      <td><%= product.released_at.strftime("%B %e, %Y") %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @products %>
<p><%= link_to "New Product", new_product_path %></p>
